<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestCer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49E9D0341C8546A4005BEFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E9D04D1C8546A5005BEFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E9D0581C8546A5005BEFA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
